footer {
  .footer-container {
    padding: 93px 80px 40px 80px;
    background-color: #546e4d;

    .footer-newsletter {
      display: flex;
      justify-content: space-between;

      .footer-content-newsletter {
        label {
          font-size: 1.125rem;
          font-weight: 700;
          line-height: 22px;
          color: #fff;
        }

        .footer-input {
          margin-top: 10px;
          background-color: #fff;
          border-radius: 30px;
          padding: 10px 10px 10px 30px;

          input {
            background-color: transparent;
            border: none;
            font-size: 1.125rem;
            color: #546e4d;
            font-weight: 700;
            line-height: 22px;

            &::placeholder {
              color: #546e4d;
              font-size: 1.125rem;
            }

            &:focus-visible {
              outline: none;
            }
          }

          button {
            background-color: #f6c63b;
            border-radius: 30px;
            border: none;
            padding: 9px 14px;
            color: #fff;
            font-size: 1.125rem;
            font-weight: 700;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
              transition: 0.2s;
            }
          }
        }
      }
    }

    .footer-container-nav {
      padding-top: 82px;
      display: flex;
      justify-content: space-between;

      .footer-content-nav {
        display: flex;
        column-gap: 20px;

        .footer-navbar {
          ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 15px;
            column-gap: 60px;

            li {
              a {
                font-size: 1.125rem;
                font-weight: 700;
                line-height: 22px;
                color: #fff;
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  width: 100%;
                  transform: scaleX(0);
                  height: 1px;
                  bottom: -7px;
                  left: 0;
                  background: #f6c63b;
                  transform-origin: bottom right;
                  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
                }

                &:hover {
                  color: #fff;
                  transition: all 0.2s;

                  &::after {
                    transform: scaleX(1.01);
                    transform-origin: bottom left;
                  }
                }
              }
            }
          }
        }

        .footer-entitie {
          display: grid;

          .footer-entitie-title {
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 22px;
            color: #f6c63b;
          }

          .footer-entitie-desc {
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 17px;
            color: #ffffff;
            display: flex;
            align-items: center;
            gap: 4px;

            span {
              font-weight: 700;
            }
          }
        }
      }

      .footer-social {
        display: flex;
        gap: 40px;
        align-items: center;

        img {
          &:hover {
            filter: brightness(0.9);
            transition: all 0.5s ease;
          }
        }
      }
    }

    .footer-politicas {
      display: flex;
      align-items: center;
      gap: 18px;
      padding-top: 72px;

      a {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 17px;
        color: #ffffff;
      }
    }
  }

  .footer-rodape {
    background-color: #506849;
    padding: 38px 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    p {
      font-weight: 700;
      font-size: 0.75rem;
      line-height: 15px;
      color: #ffffff;
    }

    .footer-icon {
      font-size: 2.5rem;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }

  .footer-mob-rodape {
    display: none;
  }
}

@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@include responsive(1124px) {
  footer .footer-container {
    padding: 52px 0 0px 0;
    .footer-newsletter {
      justify-content: center;
      text-align: center;
      img {
        display: none;
      }

      .footer-content-newsletter .footer-input {
        margin-top: 25px;
      }
    }

    .footer-container-nav {
      padding-top: 60px;
      justify-content: center;
      .footer-content-nav {
        display: none;
      }
    }

    .footer-politicas {
      display: none;
    }
  }
  
  footer .footer-rodape {
    display: grid;
    justify-items: center;
    justify-content: center;
    background-color: #546e4d;
    row-gap: 40px;
    margin-top: -1px;

    p {
      display: grid;
      justify-items: center;
    }

    .footer-icon {
      display: none;
    }
  }

   .footer-mob-rodape {
    display: grid !important;
    background-color: #506849;
    justify-items: center;
    margin-top: -1px;
    padding: 30px 0;

    .footer-icon {
      font-size: 4rem;
      color: #fff;
      cursor: pointer;
    }
  }
}

@include responsive(455px) {
  footer .footer-container .footer-newsletter {
    padding: 0 20px;

    .footer-content-newsletter .footer-input  {
      padding: 10px 10px 10px 10px;

      input {
        font-size: 0.875rem;
      }

      button {
        font-size: 1rem;
      }
    }
 
    label {
      font-size: 1.4rem;
    }
  }
}